body {
    margin: 0px;
    padding: 0px;
}

.navBarr {
    width: 100vw;
    background-color: rgb(242, 244, 243);
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: fixed;
    top: 0px;
}

.navBarr>img {
    padding-left: 7%;
}

input {
    width: 25vw;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    outline: none;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(4, 4, 4, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    letter-spacing: 2px;
}

/* CSS FOR DROPDOWN */
.dropdown {
    background-color: white;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    color: black;
    position: sticky;
    top: 70px;
    height: 50px;
    margin-top: 10px;

}

.dropdown1,
.dropdown2,
.dropdown3 {
    padding: 10px;
    margin: 4px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

#drop1,
#drop2,
#drop3 {
    background-color: none;
    border: none;
    outline: none;
}


/* CSS for TEAMS */
.teams {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
    margin: 80px;
    width: auto;
    justify-content: space-around;
    padding: 20px;
}


.page-forTeam {
    background-color: white;
    padding: 20px;
    margin: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}



.page-forTeam:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.image-ofTeam>img {
    border-radius: 30px;
    size: 30px;
    margin-left: 60px;
}

.about-ofTeam>h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    letter-spacing: 2px;
    padding: 10px;
}

.about-ofTeam>h2 {
    font-size: 20px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6,
#btn7,
#btn8,
#btn9,
#btn10,
#btn11,
#btn12,
#btn13,
#btn14,
#btn15,
#btn16,
#btn17,
#btn18,
#btn19,
#btn20 {
    background-color: #bb86fc;
    padding: 10px;
    border: none;
    color: white;
    letter-spacing: 2px;
    border-radius: 10px;
    width: 100%;
}

#btn1:hover,
#btn2:hover,
#btn3:hover,
#btn4:hover,
#btn5:hover,
#btn6:hover,
#btn7:hover,
#btn8:hover,
#btn9:hover,
#btn10:hover,
#btn11:hover,
#btn12:hover,
#btn13:hover,
#btn14:hover,
#btn15:hover,
#btn16:hover,
#btn17:hover,
#btn18:hover,
#btn19:hover,
#btn20:hover {
    background-color: pink;
    color: black;
}



.pageNumber {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 85vw;
    position: sticky;
    bottom: 0px;
}


.buttons-forPage {
    /* background-color: blanchedalmond; */
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    height: 40px;
    width: 100px;
    align-items: center;
    /* display: inline-flex; */
}